@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Quicksand:wght@300..700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    background-color: #f5f5f5;
    background-image: url('assets/fundo.svg');
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px 20px; */
}

main h1 {
    font-size: 2.2em;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #007de3;
    text-align: center;
}

main h1 span {
    color: #fe8c68;
}

form {
    background-color: #fff;
    border-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    color: #007de3;
    padding: 0 10px;
    font-size: 1.15em;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #495057;
    font-size: 1em;
}

input[type='text'],
input[type='email'],
select,
textarea {
    background-color: #fffcc8;
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    border-color: black;
    font-size: 1em;
    color: #343a40;
    box-sizing: border-box;
    transform: border-color 0.2s ease, box-shadow 0.2s ease;
}

input::placeholder,
textarea::placeholder {
    color: #6c757d;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus,
textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type='submit'] {
    display: block;
    width: 100%;
    padding: 14px 25px;
    background-color: #007de3;
    border-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type='submit']:hover {
    background-color: #0056b3;
}

.image-band {
    background-image: url('assets/ti.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer {
    background-color: #007de3;
    color: #ffffff;
    text-align: center;
    padding: 25px 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 500;
}

@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    main h1 {
        font-size: 1.8em;
    }

    label,
    input[type='text'],
    input[type='email'],
    select,
    textarea,
    button[type='submit'] {
        font-size: 0.95em;
    }
}

.main-header {
    background-color: #007bff;
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fe8c68;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.logo:link,
.logo:visited {
    color: #fe8c68;
}

.logo:hover {
    color: white;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 25px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #fe8c68;
}

.hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #007bff;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .main-nav ul li a:hover {
        color: #fe8c68;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .main-nav.nav-open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
