@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Quicksand:wght@300..700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    background-color: #ffffff;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

header,
main,
footer {
    width: 100%;
}

header,
section {
    background-image: url('../assets/fundo.svg');
}

.main-header-page {
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content-area {
    padding: 40px 0;
}

.header-text {
    flex: 1;
    max-width: 800px;
    text-align: left;
}

.logo-mais {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 0 auto;
}

.img-missao,
.logo-ti {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 40px 0;
    background-color: #fff;
}

.missao-text,
.visao-text {
    flex: 1;
    max-width: 800px;
    text-align: left;
}

h1,
h2 {
    font-weight: 700;
    color: #007de3;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 8px;
    text-decoration: underline;
}

.destaque {
    font-style: italic;
    background-color: #88b2df;
    padding: 5px 10px;
    border-radius: 4px;
}

#importante {
    border-top: 5px solid #007de3;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.ajustar {
    margin: 0 20px 0 20px;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}

span {
    color: #fe8c68;
}

footer {
    background-color: #007de3;
    color: #ffffff;
    text-align: center;
    padding: 25px 20px;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 500;
}

.image-band {
    background-image: url('../assets/ti.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .main-nav.nav-open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content-area .header-text {
        order: 1;
    }
    .header-content-area .header-image {
        order: 2;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content-area .header-image {
        order: 1;
    }
    .header-content-area .header-text {
        order: 2;
    }

    .visao .visao-image {
        order: 1;
    }
    .visao .visao-text {
        order: 2;
    }
}

.main-header {
    background-color: #007bff;
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fe8c68;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.logo:link,
.logo:visited {
    color: #fe8c68;
}

.logo:hover {
    color: white;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 25px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #fe8c68;
}

.hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #007bff;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .main-nav ul li a:hover {
        color: #fe8c68;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .main-nav.nav-open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
