@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Quicksand:wght@300..700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('assets/fundo.svg');
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container {
    background-color: #f4f4f4;
    background-image: url('assets/fundo_comida.svg');
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.titulo-com-imagem {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.titulo-com-imagem h1 {
    margin-bottom: 0;
}

.titulo-com-imagem img {
    max-width: 150px;
    height: auto;
}

main {
    align-self: center;
    background-image: url('assets/fundo_comida.svg');
}

h1,
h2 {
    font-weight: 700;
    color: #007de3;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 4px;
}

h2,
h3 {
    margin-bottom: 4px;
    color: #fe8c68;
}

footer {
    background-color: #007de3;
    color: #ffffff;
    text-align: center;
    padding: 25px 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 500;
}

.image-band {
    background-image: url('assets/ti.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 30px;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #007bff;
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fe8c68;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

.logo:link,
.logo:visited {
    color: #fe8c68;
}

.logo:hover {
    color: white;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 25px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #fe8c68;
}

.hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #007bff;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .main-nav ul li a:hover {
        color: #fe8c68;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        margin: 10px 0;
    }

    .main-nav.nav-open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
