<div class="main-header">
    <div class="logo-wrapper"> <a href="/index.html" class="logo">&#60Tenchini&#62</a>
    </div>
    <nav class="main-nav" id="mainNav">
        <ul>
            <li><a href="/index.html">Início</a></li>
            <li><a href="../ex01/index.html">Exercício 01</a></li>
            <li><a href="../ex02/lista.html">Exercício 02</a></li>
            <li><a href="../ex03/feedback.html">Exercício 03</a></li>
        </ul>
    </nav>
    <button class="hamburger-menu" id="hamburgerMenu" aria-label="Abrir Menu">
        <i class="fas fa-bars"></i>
    </button>
</div>
